/* - - - RESET - - -*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #222222;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
}

/* - - - INFORMATION BAR - - -*/

.information-bar-bg{
  background: #122ab2;
  color: #ffffff;
}

.information-bar{
  display: flex;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.information-bar p, .information-bar a{
  margin: 16px;
}

.information-bar a{
  color: #ffffff;
}

/* - - - HEADER - - -*/

.header-bg{
  background: #2c70ff;
}

.header{
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header .header-logo a{
  font-size: 2.25rem;
  font-weight: bold;
  color: #ffffff;
}

.header .header-menu ul{
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.header .header-menu a{
  color: #ffffff;
}

.header .header-menu a:hover{
  color: #122ab2;
}

/* - - - INTRO - - -*/

.intro{
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 16px;
  font-size: 3rem;
  line-height: 1;
}

/* - - - ABOUT - - -*/

.about{
  max-width: 1440px;
  padding: 60px 16px;
  margin: 0 auto;
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about .about-text{
  flex: 8 1 300px;
}

.about .about-text h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about .about-text p{
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 16px;
  color: #7c7c7c;
}

.about .about-img{
  flex: 1 1 160px;
}

/* - - - PRODUCTS - - -*/

.products{
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 16px;
}

.products h2{
  font-size: 2rem;
}

.products .products-list{
  display: flex;
  gap: 16px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.products-item{
  flex: 1 1 175px;
}

.products .products-list .products-item h2{
  font-size: 3rem;
  background: #f7f7f7;
  color: #a4a4a4;
  padding: 60px 20px;
}

.purple{
  border-top: 8px solid #ae81ff;
}

.pink{
  border-top: 8px solid #f9265e;
}

.blue{
  border-top: 8px solid #66d9eb;
}

/* - - - PLANS - - -*/

.plans{
  background: #f7f7f7;
  padding: 60px;
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  align-items: flex-end;
}

.plans .plans-item{
  border: 4px solid #ffffff;
  padding: 20px;
  min-width: 400px;
}

.plans .plans-item h2{
  margin-top: 20px;
  font-size: 3rem;
  color: #a4a4a4;
  text-align: center;
}

.plans .plans-item span{
  display: block;
  font-size: 3rem;
  font-weight: bold;
  max-width: 300px;
  margin: 20px auto;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 10px 0 5px 0;
  text-align: center;
}

.plans .plans-item sup{
  font-size: 1.5rem;
}

.plans .plans-item ul{
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25rem;
  font-style: italic;
  color: #7c7c7c;
}

.plans .plans-item li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.plans .plans-item li::after{
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #2c70ff;
  border-radius: 50%;
}

.plans .plans-item a{
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 4px solid;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.25rem;
  padding: 15px 0;
  text-align: center;
}

/* - - - QUALITIES - - -*/

.qualities{
  max-width: 1440px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.qualities .qualities-item{
  flex: 1 1 400px;
  margin: 20px 10px;
}

.qualities .qualities-item h2{
  font-size: 2rem;
  color: #a4a4a4;
  margin-bottom: 20px;
}

.qualities .qualities-item h2::before{
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}

.qualities-item:nth-of-type(3n+1) h2::before{
  background: #ae81ff;
}

.qualities-item:nth-of-type(3n+2) h2::before{
  background: #f926e5;
}

.qualities-item:nth-of-type(3n+3) h2::before{
  background: #66d9eb;
}

.qualities .qualities-item p{
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
}

/* - - - NEWSLETTER - - -*/

.newsletter-bg{
  background: #f7f7f7;
  padding: 60px;
}

.newsletter{
  max-width: 1440px;
  margin: 60px auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

.newsletter h2{
  font-size: 3rem;
  color: #a4a4a4;
}

.newsletter p{
  font-size: 1.25rem;
  color: #7c7c7c;
  flex-wrap: wrap;
}

.newsletter form{
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.newsletter form input{
  flex: 3 1 260px;
  font-size: 1.25rem;
  color: #7c7c7c;
  font-style: italic;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  border: 4px solid #2c70ff;
  background: transparent;
  padding: 15px 10px;
  margin: 0;
  border-radius: 0px;
}

.newsletter form button{
  flex: 1 1 260px;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  background: #2c70ff;
  color: #ffffff;
  margin: 0px;
  cursor: pointer;
  border: 0px;
  padding: 15px 10px;
}

/* - - - FOOTER - - -*/

.footer{
  background: #2c70ff;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p{
  font-size: 2rem;
  color: #122ab2;
  align-self: center;
}