/* - - - RESET - - -*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #222222;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
}

/* - - - INFORMATION BAR - - -*/

.information-bar-bg{
  background: #122ab2;
  color: #ffffff;
}

.information-bar{
  display: flex;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.information-bar p, .information-bar a{
  margin: 16px;
}

.information-bar a{
  color: #ffffff;
}

/* - - - HEADER - - -*/

.header-bg{
  background: #2c70ff;
}

.header{
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header .header-logo a{
  font-size: 2.25rem;
  font-weight: bold;
  color: #ffffff;
}

.header .header-menu ul{
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.header .header-menu a{
  color: #ffffff;
}

.header .header-menu a:hover{
  color: #122ab2;
}

/* - - - INTRO - - -*/

.intro{
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 16px;
  font-size: 3rem;
  line-height: 1;
}

/* - - - ABOUT - - -*/

.about{
  max-width: 1440px;
  padding: 60px 16px;
  margin: 0 auto;
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about .about-text{
  flex: 8 1 300px;
}

.about .about-text h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about .about-text p{
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 16px;
  color: #7c7c7c;
}

.about .about-img{
  flex: 1 1 160px;
}

/* - - - PRODUCTS - - -*/

.products{
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 16px;
}

.products h2{
  font-size: 2rem;
}

.products .products-list{
  display: flex;
  gap: 16px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.products-item{
  flex: 1 1 175px;
}

.products .products-list .products-item h2{
  font-size: 3rem;
  background: #f7f7f7;
  color: #a4a4a4;
  padding: 60px 20px;
}

.purple{
  border-top: 8px solid #ae81ff;
}

.pink{
  border-top: 8px solid #f9265e;
}

.blue{
  border-top: 8px solid #66d9eb;
}